[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
hypothesis = "*"
# atomicwrites and win32-setctime, required for pytest on windows
atomicwrites = "*"
win32-setctime = "*"

[packages]
websockets = "*"
aiohttp = "*"
twitchio = "*"
obs-websocket-py = "*"
loguru = "*"
dataclasses-json = "*"
python-twitch-client = "*"

[requires]
python_version = "3.7"
