html,
body {
    color: #ddd;
    border-radius: 15px;
    transition: opacity 1000ms ease-in-out;
}

.hidden {
    opacity: 0;
}

.flex-vertical-container {
    background: #33c;
    border-radius: 15px;
}

.flex-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 15px 10px;
}

.flex-horizontal-bo-percentage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.instruction {
    font-size: large;
    padding: 10px;
}

#vote-choices {
}

.choice-number {
    font-size: x-large;
    margin-right: 10px;
}

.choice {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.flex-horizontal-bo-percentage {
    margin: 3px;
}

.bar-wrapper {
    margin-top: 5px;
    display: block;
    background-color: #ddd;
    border-radius: 5px;
}

.bar {
    background-color: #ff0000;
    height: 10px;
    border-radius: 5px;
    /* Animation transition, just change element.style.width and this triggers the transition */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
    transition: width 2000ms ease-in-out;
}

#bo0-bar {
    width: 25%;
}

#bo1-bar {
    width: 75%;
}

#bo2-bar {
    width: 75%;
}

.text-bo-description {
    align-self: flex-start;
}

.text-bo-vote-percentage {
    align-self: flex-end;
}

.flex-horizontal-container-bo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.bo-animation-text {
    transition: opacity 1000ms ease-in-out;
}

#bo-step0 {
    font-size: x-large;
    padding: 10px 0px 0px 10px;
}

#bo-timer0 {
    font-size: x-large;
    flex-grow: 1;
    padding: 10px 0px 0px 10px;
}

#bo-instruction0 {
    font-size: x-large;
    flex-grow: 9;
    padding: 10px 0px 0px 0px;
}

#bo-step1 {
    font-size: x-large;
    padding: 10px 0px 0px 10px;
}

#bo-timer1 {
    font-size: x-large;
    flex-grow: 1;
    padding: 10px 0px 10px 10px;
}

#bo-instruction1 {
    font-size: x-large;
    flex-grow: 9;
    padding: 10px 0px 10px 0px;
}
