html, body, #wrapper {
}

table {
    width: 200px;
    height: 135px;
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    color: #ff4500;
    font-family: Roboto;
}

.left {
    text-align: left;
}